.vagrant/
vendor/
config/development.config.php
.DS_Store
data/log/*
data/cache/*
data/photo/*
data/doc/*
data/photo/signature/*
data/photo/overtime/*
data/photo/leave/*
data/photo/vehicle/*
data/photo/vehicle-bill/*
data/photo/sales-order/*
data/photo/icon-module/*
data/photo/quotation/*
data/photo/company/*
data/photo/reimbursement/*
data/photo/vehicle-request/*
data/photo/vehicle-photo-category/*
data/photo/vehicle/original/*
data/photo/vehicle/thumbnail/*
data/doc/user-document/*
data/hospital-photo/*
data/qrcode/*
data/qrcode/user/*
data/qrcode/appointment/*
data/qrcode/customer/*
data/DoctrineORMModule/Proxy
!data/photo/vehicle/.gitkeep
!data/photo/vehicle/original
!data/photo/vehicle/original/.gitkeep
!data/photo/vehicle/thumbnail
!data/photo/vehicle/thumbnail/.gitkeep
data/item
data/item/.gitkeep
!data/DoctrineORMModule/Migrations
!data/cache/.gitkeep
!data/photo/.gitkeep
!data/photo/leave/.gitkeep
!data/photo/overtime/.gitkeep
!data/photo/vehicle-bill/.gitkeep
!data/photo/sales-order/.gitkeep
!data/photo/icon-module/.gitkeep
!data/photo/quotation/.gitkeep
!data/photo/company/.gitkeep
!data/doc/.gitkeep
!data/doc/user-document/.gitkeep
!data/photo/reimbursement/.gitkeep
!data/hospital-photo/.gitkeep
!data/qrcode/.gitkeep
!data/qrcode/user/.gitkeep
!data/qrcode/customer/.gitkeep
!data/qrcode/appointment/.gitkeep
!data/log/.gitkeep
docker/mysql/db/*
!docker/mysql/db/.gitkeep
composer.phar
.buildpath
.project
.settings
